@CHARSET "ISO-8859-1";
body {
	/*background: #e3e3e3 !important;*/
	background: rgb(247, 248, 250) !important;
}

.page {
	min-height: 500px;
}

.card-body input-group{
	width: 50%;
}

.input-group-text{
	min-width: 155px;
}

.form-group row{
	
}


	
.btn-group-vertical a{
	min-width: 180px;
}	


.avatar-customer{
	width: 100px;
	height: 100px;
}

div.col{
	margin-top : 20px;
	width:222px;
	height: 270px;
	float: left;
}

div.course-item{
	margin-right: 15px;
	width:100%;
	height:100%;
	background-color : #fff;
	overflow : hidden;
	position :relative;
	min-height: 270px;
	border: 1px solid;
}

div.course-item course-image figure{
	height: 120px;
	overflow: hidden;
	display: block;
	margin: 0px;
}

div.course-item course-image img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.hinh{
	background-image:url("../../image/hoc-tap-2.jpg"); 
	height: 560px;
	width: 100%;
	margin: 0;
}

.comment-card{
	min-height: 260px;
}

.comment-card-info{
	font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    align-items: center;
    display: flex;
    margin-bottom: 21px;
}


